header{
    background-color: #000;;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    opacity: 0.9;

}

.header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 24px;
}