.product-shop-section{
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column; 
    gap: 68px;;
}
.product-shop{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    /* height: 165px; */
    flex-shrink: 0;
    border-radius: 8px;
    background: #F1F1F1;

}
.product-shop-name{
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.071px;
    text-transform: uppercase;
    padding-bottom: 18px;
    position: relative;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.product-shop-a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.product-shop-a:hover{  
    color: #D87D4A

}
.product-image-small{
    position: relative;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 768px){
    .product-shop{
        width: 30%;
        max-width: 350px
    }

    .product-shop-name{
        position: relative;
        bottom: 50px;

    }
    .product-shop-section{
        display: flex;
        flex-direction: row; 
        width: 100%;
        gap: 30px;
        
    }
}