.product-header{
    padding-top: 108px;
    padding-bottom: 18px;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
    text-transform: uppercase;
    opacity: 0.75;
}
.background {
    background-image: url("../assets/home/mobile/image-header1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 70vh;
}
.product-name{
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 1.286px;
    text-transform: uppercase;
}
.product-description{
    padding-top: 28px;
    padding-bottom: 28px;
    margin: 0 auto;
    max-width: 328px;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    opacity: 0.75;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


@media only screen and (min-width: 768px){
    .background{
        background-image: url("../assets/home/desktop/hero.jpeg");
        
        background-size: cover;
        /* height: 80vh; */
    }

    .product-name{
        text-align: left;
        padding-bottom: 24px;
        padding-top: 24px;
    }
    .product-header{
        padding: 0;
        margin: 0;
        text-align: left;
        
    }
    .product-description{
        padding: 0;
        margin: 0;
        text-align: left;
        max-width: 350px;
        padding-bottom: 40px;
    }

    .button{
        margin: 0;
    }

    .whole-div{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        height: 70vh;
        padding-left: 165px;
    }
}